<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Popeye</title>
        <link rel="Stylesheet" href="/static/style.css" />
        
    </head>
    <body>
    
        <div class="humor">
            <p><b>Nome:</b></p> <span id="nome"></span>
        </div>
        <br>
        <div class="humor">
            <p><b>Idade:</b></p> <span id="idade"></span> 
        </div>

        <div class="humor" id="humor">
        </div>

        <div class="humor">
            <button id="outroVersao">Outra Versão</button>
        </div>



        <div class="humor">
            <img id="imagem" src="#" alt="Imagem" />
        </div> 

        <script type="text/javascript" src="./index.js"></script>
        
    </body>
</html>